* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 8px 0;
    color: #555;
}

.price {
   
    font-weight: bold ;
}

.progress-container {
    margin: 20px 0;
}

.progress-label {
    font-size: 16px;
    color: #777;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 8px;
}

.progress {
    height: 100%;
    width: 40%;
    background-color: #4caf50;
    border-radius: 5px;
}

.status-btn {
    text-align: center;
    background-color: #ffd089;
    border: none;
    color: rgb(133, 80, 12);
    font-weight: bold;
    padding: 12px 0;
    width: 30%;
    top: 16px;
    right: 20px;
    border-radius: 30px;
    font-size: 18px;
    position: absolute;
    
}