#after::before{
     content: "⭐"; 
     
}


#after{
    color: orange;
    
}

#yes{
  max-width: fit-content;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}




#greenies{
    color: rgb(0, 255, 34);
     margin-left: 10px;
    padding: 10px;
    
}

p{
    margin-left: 6px;
    padding: 6px;
    
}

#title{
     margin-left: 6px;
    padding: 10px;
    
    border: 2px solid black;
    text-align: left;
    margin-left: 10px;
     width: 60%;
}

#ti{
    margin-left: 6px;
    padding: 10px;
    
}