div{
    border: 1px solid;
    
}


h2{
    background-color: aqua;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

p{
    text-align: center;
    font-style: italic;
}


u{
    text-decoration: underline dotted;
}