*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 




#box1{
    text-align: center;
    background-color: red;
    margin: 20px 30px 40px 120;
    border: 2px solid rgb(247, 66, 66);
    padding: 10px;
    width: 130;
    height: 40;
    box-sizing: border-box;
}


#box1:hover{
    /* transform: skew(15deg) ; */
    transform: scale(1.1) ;
    transition: 0.35s ease;
    box-shadow: 5px 5px 5px #dd3232;
    border-radius: 20px;
}


#box1{
    transition: 0.25s ease-out;

}

#box1:active{
    
    background-color: rgba(245, 8, 8 , 0.5);
    border:  chartreuse;
    transform: skew(15deg);
}



/* inline block , block */

b{
    height: 50px;
    padding: 50px;
    display: inline-block;
}


p{
    height: 50px;
    /* display: inline-block; */
    /* display: none; */
}




#box2{
    opacity: 0.6;
}





#box2{
    text-align: center;
    background-color: red;
    margin: 20px 30px 40px 120;
    border: 2px solid rgb(247, 66, 66);
    padding: 10px;
    width: 130;
    height: 40;
    box-sizing: border-box;
}


#box2:hover{
    /* transform: skew(15deg) ; */
    transform: scale(1.1) ;
    transition: 0.35s ease;
    box-shadow: 5px 5px 5px #dd3232;
}


#box2{
    transition: 0.25s ease-out;

}

#box2:active{
    
    background-color: rgba(245, 8, 8 , 0.5);
    border:  chartreuse;
    transform: skew(15deg);
}


#containter{
    position: relative;
}

#first{
    text-align: center;
    background-color: rgb(145, 255, 0);
   
    
    box-sizing: border-box;
    right: 2px;
    position:sticky;
    top: 0px;
    /* top: 0; */
}


#second{
    text-align: center;
    background-color: rgb(255, 8, 0);
 
    width: 130;
    height: 40;
    box-sizing: border-box;
     /* position: absolute; */
}


#third{
    text-align: center;
    background-color: rgb(0, 58, 216);
   
    width: 130;
    height: 40;
    box-sizing: border-box;
    /* position: relative; */
}

