#first{
    text-align: center;
    background-color: rgb(145, 255, 0);
   
    
    box-sizing: border-box;
    width: 130;
    height: 40;
    top: 0px;
    /* top: 0; */
}


#first:hover{
    background-color: rgb(0, 255, 85);
    width: 420px;
    transform: translate3d(14deg);
    transition: 0.5s;
    font-family: cursive;
    box-shadow: 5px 5px 10px black;
}

#second{
    text-align: center;
    background-color: rgb(255, 8, 0);
 
    width: 130;
    height: 40;
    box-sizing: border-box;
     /* position: absolute; */
}


#third{
    text-align: center;
    background-color: rgb(0, 58, 216);
   
    width: 130;
    height: 40;
    box-sizing: border-box;
    /* position: relative; */
}
