#form{
    /* border: 1px solid black;
    margin: 4px;
    padding: 10px;
     */
     border: 1px solid #ccc;
    padding: 50px;
    margin: 40px auto;
    width: 50%;
   
    
   
    
}


#titlee{
    text-align: center;
}


input , select ,textarea{
    width: 320px;
    padding: 8px 12px;
     width: 100%;
     box-sizing: border-box;
    /* text-align: ; */
}

textarea{
   
    overflow: auto;
    display: flex;
     /* overflow-y: auto; */
     resize: vertical; 
}

label{
    font-weight: bold;
    color: rgba(8, 82, 72, 0.979);
    text-align: left;
    width: 70%;
}

h1{
    color: rgba(8, 82, 72, 0.979);
    text-align: center;
    width: 100%;
}


*{
    font-family: Arial, Helvetica, sans-serif;
}